---
extends: default

ignore: |
  chart/templates/

rules:
  line-length: disable
  comments-indentation: disable
  document-start: disable
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  truthy:
    allowed-values: ['true', 'false']
    check-keys: false
